<a href="https://colab.research.google.com/github/owaiskhan786/PIAIC_BATCH36_PythonProgram/blob/main/Practice_AssignmentClass2_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Owais",True,1,1.0)

Owais True 1 1.0

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Hello","World", sep="-")

Hello-World

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [ ]:
print("Hello","World", sep="\n")

Hello
World

4) Can a python print function take no value to print???

In [ ]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [16]:
Friend_Name = 'Mr. Ahmed'
Friend_Age = '30'
Friend_Pro = 'bachelors in law'
Friend_pro_year = '2005'
Ini = 'The Himalya Associates'
wORKING = '2015'
height = '5.10'
Weight = '70600'
Salary = '200000'

print(f'One of my friends name is {Friend_Name}. He is {Friend_Age} years old. He is a lawer by profession. He has done his {Friend_Pro} in the year {Friend_pro_year}. He is working with a reputable law firm {Ini} in Karachi since 2015. He is a handsome lawer with height of {height} feets and weight {Weight}. His monthly income is Rs. 200k PKR.')

One of my friends name is Mr. Ahmed. He is 30 years old. He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm The Himalya Associates in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600. His monthly income is Rs. 200k PKR.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [9]:
#type your code here 
from datetime import date
todays_date = date.today()
print(f'{Friend_pro_year} Current Year : {todays_date.year - int(Friend_pro_year)}')

2005 Current Year : 17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [11]:
from datetime import date
todays_date = date.today()
print(f'{Friend_pro_year} Current Year : {todays_date.year - int(wORKING)}')

2005 Current Year : 7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [13]:
print(f'{Salary}  Salary in Dollar : { int(Salary) / int(216)}')

200000  Salary in Dollar : 925.925925925926

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [14]:
income_dollar = int(Salary) / int(216)
print(f'{Salary}  Salary in Dollar : { int(income_dollar)}')

200000  Salary in Dollar : 925

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [17]:
#type your code here 
Weight_kg = int(Weight) / int(1000)
print(f'{Friend_Name} Weight {int(Weight_kg) }')

Mr. Ahmed Weight 70

11) print the year of birth of Mr. Ahmed.

In [18]:
#type your code here
from datetime import date
todays_date = date.today()
print(f'{Friend_pro_year} birth Year : {todays_date.year - int(Friend_Age)}')

2005 Current Year : 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [22]:
#type your code here 
i = 100/6
print(int(i))

16